.app-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 0.5vh solid white;
    border-radius: 4%;
    width: 30%;
    height: 90%;
    padding: 1% 2%;
    box-sizing: border-box;
    background: linear-gradient(135deg, #2b2626 96%, lightblue 3%);
}