.todos-container {
    width: 98%;
    font-size: 1.6rem;
    display: flex;
    justify-content: center; 
    overflow: scroll;
    scrollbar-width: none;
}

.todos-container::-webkit-scrollbar {
    display: none;
}

.todos-display {
    width: 100%;
 ;
}

